-e git+https://github.com/Eficent/odoo-autodiscover.git@fix-unicode-decode-error#egg=odoo-autodiscover

setuptools-git==1.1
setuptools-odoo==2.0.2.post1
-e git+https://github.com/odoo/odoo.git@11.0#egg=odoo

# OCA/partner-contact
-e git+https://github.com/OCA/partner-contact.git@11.0#egg=odoo11_addon_partner_firstname&subdirectory=setup/partner_firstname
-e git+https://github.com/OCA/partner-contact.git@11.0#egg=odoo11_addon_partner_second_lastname&subdirectory=setup/partner_second_lastname
